.contact-us-image {
    position: fixed;
}

.image-text {
    margin-top: 55px;
    position: relative;
    font-size: 80px;
    font-family: "Open Sans Regular", sans-serif;
    text-align: center;
}

.random-quotes {
    position: relative;
    font-size: 20px;
    font-family: "Open Sans Light", sans-serif;
    text-align: center;
}

.image-box {
    box-sizing: inherit;
    color: inherit;
    margin-top: 0;
    margin-bottom: 0.5rem;
    position: absolute;

}

.person-one{
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    width: 600px;
    height: 550px;
    top: 80px;
    float: left;
}

.person-two {
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
    width: 600px;
    height: 550px;
    top: 80px;
    left: 40px;
}

.about-container {
    position: absolute;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}

.about-main-title {
    padding-top: 40px;
    color: #404040;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.about-content-text {
    top: 50px;
    color: #404040;
    text-align: justify;
    padding: 60px;
}
footer {
    background: #363636;
    position:absolute;
    left:0;
    bottom:0;
    height:70px;
    width:100%;
    padding-top: 10px;
    margin-top: 60px;
    top: 102%;
}

.footer-div {
    color: whitesmoke;
    text-align: center;
}