html {
    position: relative;
    min-height: 100%;
    font-family: "Raleway", sans-serif
}

body {
    font-family: "lato", sans-serif;
    background: white;
    color: black;
    margin: 0 0 100px; /* bottom = footer height */
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /*float: right;*/
}

footer {

}


li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

article {
    text-decoration: none;
    text-indent: 50px;
    font-size: 20px;
}



/*SlideShow Text*/
#container {
    position: absolute;
    z-index: 1000;
    top: 80px;
    left: 0;
}

#content {
    position: relative;
    width: 100%;
    margin: 110px 0 0 40px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}

.content-text{
    font-size: 60px;
    color: whitesmoke;
}

.line {
    background: black;
}

.floating-box {
    float: left;
    width: 25%;
    height: 75px;
}


.floating-box div {
    padding-left: 10px;
    padding-right: 10px;
}

/*SlideShow Text*/

/*SlideShow Css*/
.mySlides {
    width: 100%;
}

.button {

}

/*SlideShow Css*/

